{% extends 'base.html' %}
{% block title %}
Магазинчик
{% endblock %}
{% block content %}
<div class='container'>
    <div class='row row-cols-3 gy-4 gx-4'>
{% for product, count in products %}
        <div class="col">
    <div class='card'>
        <div class='card-title'>
            {{ product.name }}
        </div>
        <p class="card-text">
            <small class="text-muted">
                {{ count }}
            </small>
             <a role="button" class="btn btn-primary" href="{% url 'product' product.id %}">Подробнее</a>
        </p>
    </div>
            </div>
{% endfor %}
    </div>
    </div>
{% endblock %}