{% extends 'base.html' %}
{% block title %}
Магазинчик
{% endblock %}
{% block content %}
<br>
<div class='container'>
    <div class='card mb-3 mt-1 shadow-sm'>
        <div class='card-title'>
            {{ product.name }}
        </div>
        <div class="card-text">
            {{ product.description }}
        </div>
        <p class="card-text">
            <small class="text-muted">
                {{ product.price }}
            </small>
        </p>
        <form id="{{ product.id }}" method="POST">
            {% csrf_token %}
            <input id="{{ product.id }}_count">
            <input type="submit" name="contact-submit" class="btn btn-success btn-lg" value="Добавить в корзину"/>
        </form>
    </div>
        </div>
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#{{ product.id }}').submit(function () {
                var product_count = document.getElementById("{{ product.id }}_count").value;
                var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
                $.ajax({
                    data: {'count': product_count},
                    type: 'post', // GET or POST
                    url: "{% url 'add_cart' product.id %}",
                    headers:{"X-CSRFToken": $crf_token},
                    success: function (response) {
                      alert("норм");
                      console.log(response);
                  },
                  error: function (response) {
                      alert("не норм");
                      console.log(response);
                  }
              });
              return false;
          });
      })
  </script>
    {% endblock javascript %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="col-md-12 col-form-label text-md-center">
                {{ field.label }}
            </label>
            <div class="col-md-6 offset-md-3">
                {{ field }}
            </div>
        </div>
    {% endfor %}
{% endblock %}